
KivyStatusBarApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
KivyStatusBarApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
KivyStatusBarApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
KivyStatusBarApp.xcodeproj/project.xcworkspace/xcuserdata/musicmaker.xcuserdatad/UserInterfaceState.xcuserstate
KivyStatusBarApp.xcodeproj/xcuserdata/musicmaker.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
